.ServerMain {
    width: 100%;
    height: 40vw;
    overflow-y: scroll;
    background-color: white;
    outline-style: solid;
    outline-width: 3px;
    outline-color: black;
}

.ServerMain.orderSummary {
    width: 30%;
    float: right;
    color: black;
    
}

#OrderTotal {
    text-decoration-line: underline;
    text-decoration-color: rgb(0, 0, 0);
}

.ServerMain.buttons {
    width: 50%;
    float:right;
}

.ServerMain.sidePanel {
    width: 20%;
    float: left;
}

.side-panel {
    top: 0;
    left: 0;
    width: 25vw;
    height: 40vw;
    background-color: #F8F8F8;
    border-right: 1px solid #CCCCCC;
}

.side-panel ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.side-panel li {
    margin: 0;
    padding: 0;
}

/*buttons on side panel*/
.side-panel li p {
display: block;
    padding: 2vw;
    margin-bottom: 0px;
    width: 25vw;
    text-align: center;
    color: #333333;
    text-decoration: none;
    font-size: 1.2em;
}

.side-panel li p:hover {
    background-color: #CCCCCC;
}

.ServerButton {
    padding: 10px;
    margin: 0.2%;
    color:white;
    background-color: #bf2222;
    border-radius: 10px;
}

.ServerClearOrder, .ServerFinishAndPay{
    border-radius: 3px;
    margin: 0.2%;
    margin-top: 2vh;
}

.deletebutton {
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
   }
   
   .deletebutton, .deletebutton span {
    transition: 200ms;
   }
   
   .deletebutton .text {
    margin: auto;
    color: white;
    font-weight: bold;
   }
   
   
   .deletebutton svg {
    width: 15px;
    fill: #eee;
   }
   
   .deletebutton:hover {
    background: #ff3636;
   }
   
   .deletebutton:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
   .deletebutton:focus {
    outline: none;
   }

   .serverCard {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Creates two columns of equal width */
    grid-auto-rows: minmax(70px, auto); /* Specifies the height of each row */
    grid-gap: 10px; /* Adds a 10px gap between grid items */
  }