.weather-widget {
    background-color: transparent;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: right;
    bottom: 0;
  }
  
.weathericon {
    margin-right: 20px;
    font-size: 2rem;
    color: rgb(255, 255, 255);
  }
  
  .weather-description {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .weather-temperature {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    /* font-weight: bold; */
  }