.appFooter {
    color: white;
    background-color: #ad0f27;
    margin-top: 20vh;
    height: calc(38vh + 10px);
  }
  
  .footer-elements
  {
    list-style: none;
    display: flex;
    margin-bottom: 0%;
  }
  
  .footer-indv-element {
    margin:2% 2% 0% 2%;
  }
  
  .footer-policies{
    margin:0% 2% 0% 3%;
  }