body {
  font-family: Helvetica;
}

.ManagerMain {
    font-family: Helvetica;
    height: 40vw;
    background-color: white;
    margin-bottom: 150vh;
}

.ManagerMain.header {
    margin-top: 0vw;
    margin-bottom:0vw;
    background-color:#E51636;
    height:3.5vw;
    color:white;
}


.scrollingTable {
    width:100%;
    height: 40vw;
    overflow-y: scroll;
    overflow-x: scroll;
    margin: auto;
}



.scrollingTableSmaller {
  width:80%;
  height: 25vw;
  overflow-y: scroll;
  overflow-x: scroll;
  margin: auto;
}

.scrollingTableSmallest {
  width:95%;
  height: 20vw;
  overflow-y: scroll;
  overflow-x: scroll;
  margin: auto;
}

.managerdashboardright {
    width: 60%;
    float: right;
    margin-right: 10%;
}

.managerFoodImage {
    width: 300px;
    height: 300px;
    margin-left:10%;
}

.tab-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-button {
    background-color: #E51636;
    color: #ffffff;
    align-content: center;
    align-self: center;
    padding: 10px;
    height:4vw;
    border: 2px solid #ffffff;
    border-radius: 15px;
    margin: 0;
    width: 80%;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.tab-button:hover {
    background-color: #ffffff;
    color: #E51636;
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.tab-button:focus {
    outline: none;
    box-shadow: 0px 0px 3px 3px rgba(255, 44, 44, 0.3);
}

.tab-button:active {
    transform: translateY(0);
    box-shadow: none;
}

.tab-content {
    display: none;
    padding: 20px;
    width:90%;
    margin: 10px;
    border: 1px solid #E51636;
    border-radius: 5px;
}

.tab-content.active {
    display: block;
    animation: fade-in 0.5s ease-in-out;
}
  
.tab-content.active {
    display: block;
    animation: fade-in 0.5s ease-in-out;
}
  
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}


 .rcard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
    max-height: 300px;
    margin-left: 15%;
    max-width: 80%;
  }

  .stars {
    display: flex;
    grid-gap: 0.125rem;
    gap: 0.125rem;
    color: rgb(238, 203, 8);
  }
  
  .star {
    height: 2.5rem;
    width: 2.50rem;
  }
  
  .infos {
    margin-top: 1rem;
  }
  
  .date-time {
    color: rgba(7, 63, 216, 1);
    font-size: 12px;
    font-weight: 600;
  }
  
  .description {
    margin-top: 0.4rem;
    line-height: 1.625;
    color: rgba(107, 114, 128, 1);
  }
  
  .author {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(107, 114, 128, 1);
  }

  .managertable {
    border-collapse: collapse;
    width: 100%;
  }
  
  .managertable th,
  .managertable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .managertable th {
    background-color: #f2f2f2;
  }
  
  .managertable-row:nth-child(even) {
    background-color: #f2f2f2;
  }

  .table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .table-row:nth-child(even) {
    background-color: #f2f2f2;
  }

/*---------------------managerOrders section----------------------------*/

.managerOrders {
    height: 50vw;
}

.scrollingTableOrders {
  width:100%;
  height: 40vw;
  overflow-y: scroll;
  overflow-x: scroll;
  margin: auto;
}

.scrollingTableExtras {
  width:40%;
  height: 33vw;
  border:#000000;
  border-width: 2px;
  border-style: solid;
  overflow-y: scroll;
  overflow-x: scroll;
  margin: auto;
  background:white;
}

.scrollingTableSalesRep {
  width:100%;
  height: 35vw;
  overflow-y: scroll;
  overflow-x: scroll;
  margin: auto;
}

.managerOrders.manage {
    width:99%;
    float:right;
    background-color:rgba(200, 200, 200, .6);
}

.managerOrders.viewTable {
    width:50%;
    float:left;
}

.generateButton {
  padding: 1px 25px;
  border: none;
  outline: none;
  height: 40px;
  border-radius: 30px;
  font-size: 1rem;
  z-index: 1;
  position: relative;
  -webkit-box-shadow: 0 5px 15px rgba(33, 33, 33, .2);
  box-shadow: 0 5px 15px rgba(33, 33, 33, .2);
  overflow: hidden;
  cursor: pointer;
}

.generateButton > span {
  z-index: 2;
}

.generateButton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: #E51636;
  z-index: -1;
  overflow: hidden;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
}

.generateButton:hover {
  color: #e8e8e8;
}

.generateButton:hover::before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
}

/*---------------------managerMenu section----------------------------*/

.managerMenu {
    height: 41vw;
}

.managerMenu.manage {
    width:50%;
    float:right;
    background-color:rgba(200, 200, 200, .6)
}

.managerMenu.viewTable {
    width:50%;
    float:left;
}

.radio {
    background: lightgray;
    padding: 4px;
    /* border-radius: 1px; */
    /* box-shadow: inset 0 0 0 3px rgba(35, 33, 45, 0.3), */
          /* 0 0 0 3px rgba(185, 185, 185, 0.3); */
    position: relative;
  }
  
  .radio input {
    width: 70%vw;
    height: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    padding: 4px 8px;
    background: lightgray;
    color: black;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
          "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    transition: all 100ms linear;
  }
  
  .radio input:checked {
    background-image: linear-gradient(180deg, #95d891, #34974d);
    color: #fff;
    box-shadow: 0 1px 1px #0000002e;
    text-shadow: 0 1px 0px #79485f7a;
  }
  
  .radio input:before {
    content: attr(label);
    display: inline-block;
    text-align: center;
    width: 100%;
  }  

  .abutton {
    position: relative;
    margin-left: 40%;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #34974d;
    background-color: #3aa856;
  }
  
  .abutton, .abutton__icon, .abutton__text {
    transition: all 0.3s;
  }
  
  .abutton .abutton__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
  }
  
  .abutton .abutton__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #34974d;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .abutton .svg {
    width: 30px;
    stroke: #fff;
  }
  
  .abutton:hover {
    background: #34974d;
  }
  
  .abutton:hover .abutton__text {
    color: transparent;
  }
  
  .abutton:hover .abutton__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .abutton:active .abutton__icon {
    background-color: #2e8644;
  }
  
  .abutton:active {
    border: 1px solid #2e8644;
  }

  .tab-menu {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .tab-menu div {
    width:100%;
    cursor: pointer;
    padding: 10px 20px;
    background-color: darkgray;
    border: 1px solid #ccc;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .tab-menu div:hover {
    background-color: #f4f4f4;
  }
  
  .tab-menu div.active {
    background-color: #E51636;
    border-color: #E51636;
    color:white;
  }
  
  .tab-menu div.active:hover {
    background-color: #E51636;
    color:white;
    border-color: #E51636;
  }

  /*This ensures the delete button is centered*/
  .deleteButton {
    margin-left: 40%;
  }
  
  /* noselect refers to the delete item button in DeleteFromMenu.jsx */
  .noselect {
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
   }
   
   .noselect, .noselect span {
    transition: 200ms;
   }
   
   .noselect .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
   }
   
   .noselect .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .noselect svg {
    width: 15px;
    fill: #eee;
   }
   
   .noselect:hover {
    background: #ff3636;
   }
   
   .noselect:hover .text {
    color: transparent;
   }
   
   .noselect:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
   .noselect:focus {
    outline: none;
   }
   
   .noselect:active .icon svg {
    transform: scale(0.8);
   }

   .rbutton {
      margin-left: 40%;
      margin-top:5%;
      border-radius: 4%;
      position: relative;
      width: 150px;
      height: 40px;
      cursor: pointer;
      display: flex;
      align-items: center;
      border: 1px solid #0078E8;
      background-color: #0082FC;
      overflow: hidden;
  }
  
  .rbutton, .rbutton__icon, .rbutton__text {
    transition: all 0.3s;
  }
  
  .rbutton .rbutton__text {
    transform: translateX(30px);
    color: white;
    font-weight: 600;
  }
  
  .rbutton .rbutton__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #0078E8;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .rbutton .rsvg {
    width: 20px;
    fill: white;
  }
  
  .rbutton:hover {
    background: #0078E8;
  }
  
  .rbutton:hover .rbutton__text {
    color: transparent;
  }
  
  .rbutton:hover .rbutton__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .rbutton:active .rbutton__icon {
    background-color: #006cd0;
  }
  
  .rbutton:active {
    border: 1px solid #006cd0;
  }

  .saveChanges {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
   }
   
   .saveChangesShadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .saveChangesEdge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
       to left,
       hsl(340deg 100% 16%) 0%,
       hsl(340deg 100% 32%) 8%,
       hsl(340deg 100% 32%) 92%,
       hsl(340deg 100% 16%) 100%
     );
   }
   
   .saveChangesText {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .saveChanges:hover {
    filter: brightness(110%);
   }
   
   .saveChanges:hover .saveChangesText {
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   .saveChangesText:active .saveChangesText {
    transform: translateY(-2px);
    transition: transform 34ms;
   }
   
   .saveChanges:hover .saveChangesShadow {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   .saveChanges:active .saveChangesShadow {
    transform: translateY(1px);
    transition: transform 34ms;
   }
   
   .saveChanges:focus:not(:focus-visible) {
    outline: none;
   }

  

/*---------------------managerInventory section----------------------------*/

.managerInventory {
    height: 40vw;
}

.managerInventory.manage {
    width:50%;
    float:right;
    background-color:rgba(200, 200, 200, .6)
}

.managerInventory.viewTable {
    width:50%;
    float:left;
}

.ingredientDropdown {
  font-size: 1rem;
  padding: 10px;
  border: 1px solid #E51636;
  border-radius: 5px;
  width: 250px;
  appearance: none;
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23E51636' d='M10 14.5l-6-6 1.41-1.41L10 11.68l4.59-4.59L16 8.5l-6 6z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px 20px;
  cursor: pointer;
}

.ingredientDropdown:focus {
  outline: none;
  box-shadow: 0px 0px 3px 3px rgba(229, 22, 54, 0.3);
}

.ingredientDropdown option {
  background-color: #FFFFFF;
  color: #000000;
}

/*---------------------managerExtras section----------------------------*/

.managerExtras {
    height: 100vh;

}

.managerExtras.salesTogether {
    width:100%;
    background-color:rgba(200, 200, 200, .6)
}


